@tailwind base;
@tailwind components;
@tailwind utilities;

@layer xcomponents {
  .bubble-effect{
    animation: bubble 24s linear infinite;
  }

  
  @keyframes bubble {
    0% {
      width: 0;
      height: 0;
    }
    
    3% {
      width: 10px;
      height: 10px;
    }

    40% {
      margin-left: 40px;
    }
    
    80% {
      margin-right: 40px;
    }

    100% {
      bottom: 100vh;
      margin: 0;
      width: 5px;
      height: 5px;
    }
    }
    
}